<form
  (ngSubmit)="search()"
  autocomplete="off">
  <input
    class="form-control"
    name="term"
    [placeholder]="placeholder"
    type="text"
    [(ngModel)]="term"
    (input)="keystroke()">
</form>

<!-- "ng-submit"
Nos permite llamar a una funcion JS al hacer submit de un formulario. Cabe destacar que este marcador va en la 
etiqueta < form >
-->

<!-- 
/**
[placeholder]="placeholder"
we received the place holder from the other components
byCountry - byCapital  . . . 
*
/*
-->

<!-- 
  [(ngModel)]="term"              we received the @outPut from inputCountry "the input value"

  "modelo ng."
  La directiva ngmodel vincula el valor de los controles HTML (entrada, selección, área de texto) a los datos de la 
  aplicación. Con la directiva ng-model, puede vincular el valor de un campo de entrada a una variable creada en Angular.
-->