<h2>ByCountry</h2>
<hr>
<!-- 'input' 
  search the country -->
<div class="row">
  <div class="col">
    <app-inputCountry
      (onEnter)="search($event)"
      (onDebounce)="suggestion($event)"
      placeholder="search by country name" />
  </div>
</div>

<!-- suggestion Countries -->
<ul
  *ngIf="showSuggested"
  class="list-group">
  <li
    *ngFor="let country of suggestedCountries"
    class="list-group-item list-group-item-action">
    <a
      class="nav-link"
      [routerLink]="['/country', country.altSpellings[0]]">
      {{country.name.common}}
    </a>
  </li>
  <li
    (click)="searchSuggested(term)"
    class="list-group-item list-group-item-action">
    <a class="nav-link">
      Search "{{term}}"
    </a>
  </li>
</ul>



<hr>

<div
  *ngIf="getError"
  class="alert alert-danger">
  <p>We couldn't find nothing with the term<b> "{{term}}"</b> </p>
</div>
<!-- country tablet see the information -->
<div class="row">
  <div
    *ngIf="countries.length > 0"
    class="col">
    <app-tableCountry
      [countries]="countries" />
  </div>
</div>